.show-search {
	display: flex;
	flex-direction: row-reverse;
	float: right;
	margin-top: 0px;
}

.show-search a svg {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 10px;
	cursor: pointer;
}

.show-search a svg path {
	fill: #67eba2;
}

.show-search a:hover svg path {
	fill: #67eba2;
	opacity: 0.7;
}

aside[role="search"] {
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: #282e37;
	width: 100vw;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	transition: opacity 0.3s linear;
}

aside[role="search"].active {
	opacity: 1;
	visibility: visible;
}

aside[role="search"].visible {
	visibility: visible;
}

aside[role="search"] .toggle-search {
	cursor: pointer;
}

aside[role="search"] .type:before {
	content: "Type";
	margin-right: 0.2rem;
	font-family: monospace;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.6;
}

aside[role="search"] .close {
	position: fixed;
	top: 9px;
	right: 20px;
	width: 2rem;
	height: 2rem;
	z-index: 9;
}

@media screen and (max-width: 57rem) {
	aside[role="search"] .close {
		right: 10px;
	}
}

aside[role="search"] .close svg {
	width: 2rem;
	height: 2rem;
}

aside[role="search"] .close svg path {
	fill: #67eba2;
}

aside[role="search"] .search-wrapper {
	position: fixed;
	width: 100%;
	background-image: linear-gradient(to bottom, #282e37, #282e37, #282e37, #282e37, transparent, transparent);
	padding: 3rem 1.5rem 4.5rem;
}

@media screen and (max-width: 36rem) {
	aside[role="search"] .search-wrapper {
		padding: 3rem 0.5rem 4.5rem;
	}
}

aside[role="search"] .search-wrapper input[type="search"] {
	border: 3px solid #94f1be;
	color: rgba(0, 0, 0, 0.2);
	line-height: 2rem;
	font-family: monospace;
	font-size: 2rem;
	border-radius: 5px;
	padding: 8px 15px;
	max-width: 100%;
	width: 100%;
}

aside[role="search"] .search-wrapper input[type="search"]::-webkit-input-placeholder {
	color: #d3d3d3;
	opacity: 1;
}

aside[role="search"] .search-wrapper input[type="search"]::-moz-placeholder {
	color: #d3d3d3;
	opacity: 1;
}

aside[role="search"] .search-wrapper input[type="search"]::-ms-input-placeholder {
	color: #d3d3d3;
	opacity: 1;
}

aside[role="search"] .search-wrapper input[type="search"]::placeholder {
	color: #d3d3d3;
	opacity: 1;
}

aside[role="search"] .search-wrapper input[type="search"]:focus {
	border: 3px solid #67eba2;
	outline: none;
	color: #3d434c;
	box-shadow: 0 0 18px #67eba2;
}

aside[role="search"] .search-wrapper input[type="search"]::-webkit-search-decoration, aside[role="search"] .search-wrapper input[type="search"]::-webkit-search-cancel-button, aside[role="search"] .search-wrapper input[type="search"]::-webkit-search-results-button, aside[role="search"] .search-wrapper input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	/*background-image: url(/images/close.svg);*/
	background-size: contain;
	height: 1.2rem;
	width: 1.2rem;
}

aside[role="search"] ul.search-results {
	padding: 11rem 1.5rem 1rem;
}

@media screen and (max-width: 36rem) {
	aside[role="search"] ul.search-results {
		padding: 11rem 0.5rem 1rem;
	}
}

aside[role="search"] ul.search-results li {
	list-style-type: none;	
}

aside[role="search"] ul.search-results li h4 {
	font-family: monospace;
	color: white;
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

aside[role="search"] ul.search-results li h4 a {
	border-bottom: none;
	color: #67eba2;
}

aside[role="search"] ul.search-results li .type {
	color: white;
}

aside[role="search"] ul.search-results li .summary {
	color: white;
}

aside[role="search"] ul.search-results li a {
	color: white;
}

aside[role="search"] ul.search-results li .no-result {
	color: white;
}

aside[role="search"] ul.search-results li .tags .tag {
	color: #67eba2;
}

aside[role="search"] ul.search-results li .tags .tag:first-child {
	margin-left: 0;
}

aside[role="search"] ul.search-results li .tags .tag:hover {
	color: #67eba2;
	background: rgba(255, 255, 255, 0.1);
}

aside[role="search"] ul.search-results li .purpose span {
	font-weight: 700;
	margin-right: 0.5rem;
	font-family: monospace;
	text-transform: uppercase;
}

aside[role="search"] .search-documentation {
	text-align: right;
	padding-right: 3px;
	margin-top: 2px;
	font-size: 0.8rem;
}