<main class="container">
	<section class="pt-5 pb-1" data-aos="fade-up"></section>

    <section class="pt-5 pb-1" data-aos="fade-up">
		<div class="jumbotron p-5 jumbotron-fluid bg-light">
            <div class="container h-100">
                <div class="row justify-content-between align-items-center text-md-center text-lg-left">
                    <div class="col-lg-12 text-black">
                        {{ .Content }}          
                    </div>
                </div>
            </div>
        </div>
	</section>

    {{ partial "quick-booking.html" . }}

    <section class="pt-1 pb-1" data-aos="fade-up">
        <div class="jumbotron p-5 jumbotron-fluid bg-light">
            <div class="container text-center h-100">
                <div class="row p-0">
                    <div class="col-12 p-0">
                        <h3 class="h5 font-weight-bold">Browse by category</h3>
                        {{ partial "profile-categories.html" . }}        
                    </div>
                </div>  
            </div>
        </div>
    </section>
	
    <section class="pt-1 pb-5" data-aos="fade-up">
	   <div class="row">
			{{ range first 6 (where .Site.RegularPages ".Params.contenttype" "eq" "profile" ) }}
				<div class="col-md-3 col-lg-4 pt-2 pb-2">
					{{ partial "card.html" . }}
				</div>
			{{ end }}
	    </div>
	</section>
    <section class="pt-5 pb-5" data-aos="fade-up">
        <div class="jumbotron p-5 jumbotron-fluid bg-light">
            <div class="container text-center h-100">
                <div class="row">
                    <div class="col-12">
                        <h3 class="h5 mb-4 font-weight-bold pt-2">Browse by tags</h3>
                        {{ partial "profile-tags.html" . }}
                    </div>
                </div>  
            </div>
        </div>
    </section>
</main>