<!-- wavy header -->
<!--
<div class="jumbotron jumbotron-lg jumbotron-fluid mb-0 pb-3 bg-success position-relative">
    <div class="container-fluid text-white h-100">
        <div class="d-lg-flex align-items-center justify-content-between text-center pl-lg-5">
            <div class="col pt-4 pb-4">
                {{ with .Site.Params.banner.slogan }}
                <h1 class="display-3">{{ . | safeHTML }}</h1>
                {{ end }}
                {{ with .Site.Params.banner.subslogan }}
                <h5 class="font-weight-light mb-4">{{ . | safeHTML }}</h5>
                {{ end }}
                <a href="/portfolio/" class="btn btn-lg btn-outline-white btn-round">Learn more</a>
            </div>
            <div class="col align-self-bottom align-items-right text-right h-max-380 position-relative z-index-1">
                
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner shadow-sm rounded">
                    <div class="carousel-item active">
                        {{ with .Site.Params.banner.image1 }}
                        <img src="{{ . }}" class="d-block w-100" style="height: 380px;">
                        {{ end }}
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        {{ with .Site.Params.banner.image2 }}
                        <img src="{{ . }}" class="d-block w-100" style="height: 380px;">
                        {{ end }}
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        {{ with .Site.Params.banner.image3 }}
                        <img src="{{ . }}" class="d-block w-100" style="height: 380px;">
                        {{ end }}
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<svg style="-webkit-transform:rotate(-180deg); -moz-transform:rotate(-180deg); -o-transform:rotate(-180deg); transform:rotate(-180deg); margin-top: -1px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
<path class="bg-success" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
</svg>
-->
<main class="container">
	<section class="pt-5 pb-1" data-aos="fade-up"></section>

    <section class="pt-5 pb-1" data-aos="fade-up">
		<div class="jumbotron p-5 jumbotron-fluid bg-light">
            <div class="container h-100">
                <div class="row justify-content-between align-items-center text-md-center text-lg-left">
                    <div class="col-lg-12 text-black">
                        {{ .Content }}          
                    </div>
                </div>
            </div>
        </div>
	</section>

    <section class="pt-1 pb-1" data-aos="fade-up">
        <div class="jumbotron p-5 jumbotron-fluid bg-light">
            <div class="container text-center h-100">
                <div class="row p-0">
                    <div class="col-12 p-0">
                        <h3 class="h5 font-weight-bold">Browse by category</h3>
                        {{ partial "categories.html" . }}        
                    </div>
                </div>  
            </div>
        </div>
    </section>
	
    <section class="pt-1 pb-5" data-aos="fade-up">
	   <div class="row">
			{{ range first 6 (where .Site.RegularPages ".Params.contenttype" "eq" "profile" ) }}
				<div class="col-md-3 col-lg-4 pt-2 pb-2">
					{{ partial "card.html" . }}
				</div>
			{{ end }}
	    </div>
	</section>
    <section class="pt-5 pb-5" data-aos="fade-up">
        <div class="jumbotron p-5 jumbotron-fluid bg-light">
            <div class="container text-center h-100">
                <div class="row">
                    <div class="col-12">
                        <h3 class="h5 mb-4 font-weight-bold pt-2">Browse by tags</h3>
                        {{ partial "tags.html" . }}
                    </div>
                </div>  
            </div>
        </div>
    </section>
</main>