<nav class="topnav navbar navbar-expand-lg navbar-dark bg-success fixed-top p-0">
<div class="container-fluid">
	<a class="navbar-brand" href="#"><img class="mr-2" src="./img/header/logo_without_name.png" width="50"/><strong>{{ .Site.Title }}</strong></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation" style="">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown-1">
		<ul class="navbar-nav mr-auto d-flex align-items-center">
	      {{ range .Site.Params.navlinks }}
	        <li class="nav-item"><a class="nav-link" href="{{ absURL .url }}">{{ .name }}</a></li>
	      {{ end }}
	    </ul>
		<ul class="navbar-nav ml-auto d-flex align-items-center">
			<!--<li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a></li>
			<li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-facebook"></i></a></li>
			<li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a></li>
			<li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-github"></i></a></li>-->
			<li class="nav-item">
				<a class="nav-link btn" href="{{ absURL "shoppingcart/" }}">
					<i class="fas fa-shopping-cart"><span class="badge badge-warning ml-2 sc-item-count">0</span></i>
				</a>
			</li>
			{{ partial "search.html" . }}
		</ul>
	</div>
</div>
</nav>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", initCartCount);

	function initCartCount() {
		let items = $.shoppingcart('getAll');
		$('.sc-item-count').text(items.length);
	}
</script>